<div id="cart-button" class="floating-cart-btn" style="display: none;">
    <i class="fas fa-shopping-cart"></i>
    <span id="cart-count" class="cart-count-badge">0</span>
    <span id="cart-total-price" style="margin-left: 10px;">0.00 MZN</span>
    <span style="margin-left: 15px; font-weight: 600;">
        Ver Carrinho 
        <i class="fa-solid fa-arrow-right" style="font-size: 0.8rem; margin-left: 5px;"></i>
    </span>
</div>
<div class="floating-chat-btn" id="chat-button">
    <i class="fa-solid fa-comments"></i>
</div>